/* -------- 
  Defaults
---------- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'sans-serif';
}
html{
 font-size:10px; 
}
body{
  background:#180148;
}

/*---------------- 
    Typography
------------------*/

.heading{
  color:chartreuse;
  font-size: 1.6rem;
}

#clock ,#day, #date {
  font-size: 2rem;
  font-family:monospace;
  color:gold;
}
.task-input input{
  font-size: 2rem;
}

.controls .broom-btn{
  font-size: 1.4rem;
}

.submit-btn , .clear-btn{
  font-size: 1.4rem;
}

.filters span{
  font-size: 1.4rem;
}

ul span{
  font-size: 1.6rem;
  color: #fff;
}

.task-box .task{
  font-size: 1.5rem;
}

/*------------
    Layout 
-------------*/

.heading{
  margin:1em auto;
  text-align: center;
}
.wrapper{
  width:95%;
  max-width: 500px;
  margin: auto;
  background-color: black;
  border-radius: 7px;
  padding: 1em;
}
.date-time{
  background-color:sienna;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* ----------- media ------------ */
@media screen and (max-width:440px){
  html{
    font-size: 7.5px;;
  }
  .date-time{
    align-items: center;
    flex-wrap:wrap-reverse;
  }
  .dt{
    margin: .1em;
    border-radius: .25em;
  }
}
/* ----------- media ------------ */
.task-input,.controls{
  display: flex;
  justify-content: space-between;
  height: 5em;
  margin:1em 0;
  position: relative;  
}
img{
  width: 2.5em;
  height: 3em;
  position: absolute;
  transform: translate(1.5em, 1em);
  opacity: 50%;
}

.task-input input{
  width: 83%;
  padding: 0 1em 0 2.5em;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
}

input::placeholder{
  color: #bfbfbf;
}
.submit-btn , .clear-btn{
  cursor: pointer;
  opacity: 90%;
  width: 15%;
  outline: none;
  border: none;
  background-color: #38E54D;
  border-radius: .3em;
  padding:0.5em;
}

.task-input .plus-btn, .controls .broom-btn{
  display: none;
  cursor: pointer;
  width: 15%;
  height: 100%;
  opacity: 90%;
  background-color: #38E54D;
  border-radius: 0.3em;
  padding:0.75em 0;
  text-align: center;
}

.clear-btn,.controls .broom-btn{
  background-color:#FDFF00 ;
  height: 83%;
}

.btn:hover{
  opacity: 100%;
  transform:scale(105%);
}
/* ----------- media ------------ */
@media screen and (max-width : 440px){ 
  .submit-btn,.clear-btn{
    display:none;
  }

  .task-input .plus-btn{
    display: block;
    font-size: 2rem;
  }

  .controls .broom-btn{
    display: block;
  }
}
/* ----------- media ------------ */
.controls,.filters,.task-box .task{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters{
  position: relative;
  width: 100%;
}
.controls{
  padding:0em 0em 0.5em 0em;
  border-bottom: 2px solid #ccc;
}

.filters span{
  color:#fff;
  padding : .5em .8em;
  width:10rem;
  opacity: 50%; 
  text-align: center;
  border-radius: 0.3em;
  background-color: black;
  cursor: pointer;
}
.filters span:first-child{
  margin-left:2.5rem;
}
.filters span:nth-child(3){
  margin-right:2.5em; 
}

.filters span.active{
  color :#fff ;
  transform:scale(105%);
  opacity: 100%;
  transition-duration: 0.4s;  
}

.controls .tubelight
{
  position: absolute;
  top:0em;
  width: 10rem;
  height: 0.5em;
  border-radius: 0.4em;
  background: #fff;
  transition: left 400ms ease;
  z-index: 10;
}
.controls .light-ray
{
  position: absolute;
  transform: translateX(-1em);
  top: 5px;
  width: 12rem;
  height: 4.7rem;
  border-bottom: solid 5px black;
  background: linear-gradient(to bottom,
  rgba(255, 255, 255, 0.5) 50%,
  rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0%100%);
  pointer-events: none;
}


.task-box{
  width: 100%;
  padding:1em 1em 0 1em;
  max-height: 30em;
  overflow:auto;
  scroll-behavior:auto;
}
/* ----------- media ------------ */

@media screen and (max-width:425px) {
  .task-box{
    max-height: 40em;
  }
}
@media screen and (min-width:426px) and (max-width:1024px) {
  .task-box{
    max-height: 25em;
  }
}

/* ---------- media ------------*/

.task-box .task{
  color: #fff;
  width: 100%;
  list-style: none;
  padding: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
  border-bottom: 0;
}
.task label{
  cursor: pointer;
  width: 75%;
  display: flex;
  align-items:center;
}
.task label input{
  margin:0.5em 1em 0.5em 0em;
}
.task-box span{
  width: 90%;
  overflow-wrap: break-word;
}

.task-box span.checked{
  text-decoration: line-through;
}

.task .settings{
  width: 25%;
  text-align:center;
  height: 100%;
}

.settings i{
  cursor: pointer;
  height: 100%;
  padding: 0 0.5em;
  border: white 1px solid ;
  border-radius: 0.3em;
}

.settings i:hover{
  transition-duration: 100ms;
  color: black;
  background: #f5f5f5;
}



