/* Import google fonts - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'sans-serif';
}
body{
  background: skyblue;
}
h1{
  text-align: center;
}
.date-time{
  padding:0 25px 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#clock ,#day, #date {
  width:150px;
  font-size: 20px;
  font-family: monospace;
  color: #2192FF;
}
#day{
  text-align: center;
}
#clock{
  text-align: end;
}
.wrapper{
  max-width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
  padding: 28px 0 10px 0;
}
.task-input{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 25px;
  position: relative;  
}
img{
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(15px, 10px);
  opacity: 50%;
}
.task-input input{
  height: 100%;
  padding: 0 20px 0 55px;
  font-size: large;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
}
input::placeholder{
  color: #bfbfbf;
}
.submit-btn , .clear-btn{
  cursor: pointer;
  opacity: 90%;
  width: 90px;
  outline: none;
  border: none;
  background-color: #38E54D;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 100%;
}

.clear-btn{
background-color: #FDFF00;
font-size: 100%;
}

.btn:hover{
  opacity: 100%;
  transform:scale(105%);
}

.contols,li,.filters,.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contols{
  padding:15px 25px;
  border-bottom: 2px solid #ccc;
}
.task-input input , .filters {
  width: 340px;
}
.filters span{
  padding : 8px 12px;
  width: 100px;
  opacity: 70%; 
  text-align: center;
  border-radius: 4px;
  background-color: #00FFD1;
  cursor: pointer;
  margin: 0 ;
  font-size: 90%;
}
.filters span.active{
  color :#fff ;
  background-color:#2192FF ;
  transform:scale(105%);
  opacity: 100%;
  transition-duration: 0.1s;  
}

.task-box{
  margin: 20px 25px;
  max-height: 260px;
  overflow: auto;
  scroll-behavior: smooth;
}
.task-box span{
  width:360px;
  height: auto;
  overflow-wrap: break-word;
}

.task-box span.checked{
  text-decoration: line-through;
}
.task-box .task{
  list-style: none;
  font-size: medium;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.task label{
  display: flex;
  align-items:flex-start;
}
.task label input{
  margin-top: 6px;
  margin-right: 12px;
}
.task .settings{
  cursor: pointer;
  position:relative;
  padding-right:10px;
}
.settings .task-menu{
  position:absolute;
  padding: 5px 0;
  z-index: 3;
  right: -5px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
}
.settings .task-menu.show{
  transform: scale(1);
}
.task-menu li{
  width: 95px;
  height: 25px;
  padding: 0 10px;
  margin-bottom: 2px;
}
.task-menu li:hover{
background: #f5f5f5;
}
.task-menu li:last-child{
  padding-bottom: 0;
}
